<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.model.dao.FavoritesMapper">

    <select id="getMyCollect" resultType="com.business.controller.mobile.favorites.vo.MyCollectRespVO">
        SELECT
            a.*,
            d.img_url_list
        FROM
            favorites AS a
            LEFT JOIN (
            SELECT
                b.favorites_id,
                b.create_time,
                CONCAT('[', SUBSTRING_INDEX(GROUP_CONCAT( CONCAT('"', c.cover_image, '"') ORDER BY b.create_time DESC SEPARATOR ',' ), ',', 4), ']') AS img_url_list
            FROM
                wallpaper_collect_record AS b
                LEFT JOIN wallpaper_info AS c ON c.id = b.wallpaper_id
            WHERE
                b.user_id = #{userId}
            GROUP BY b.favorites_id
            ) AS d ON d.favorites_id = a.id
        WHERE
            a.user_id = #{userId}
    </select>

</mapper>