<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.business.model.dao.WallpaperInfoMapper">

    <select id="pageList" resultType="com.business.controller.pc.wallpaper.vo.WallpaperInfoVO">
        SELECT a.*, b.name AS categoryName FROM wallpaper_info AS a LEFT JOIN category AS b ON a.category_id = b.id
        <where>
            <if test="null != reqDTO.name and '' != reqDTO.name">
                AND a.`name` LIKE #{reqDTO.name}
            </if>
        </where>
        <if test="null != reqDTO.sortType and 1 == reqDTO.sortType">
            ORDER BY a.create_time DESC
        </if>
        <if test="null != reqDTO.sortType and 2 == reqDTO.sortType">
            ORDER BY a.download_num DESC
        </if>
    </select>

    <select id="mobilePageList" resultType="com.business.controller.mobile.wallpaper.vo.WallpaperPageVO">
        SELECT id, `name`, img_url_list, is_collection, details, download_num FROM wallpaper_info
        <where>
            <if test="null != reqDTO.categoryId">
                AND category_id = #{reqDTO.categoryId}
            </if>
            <if test="null != reqDTO.name and '' != reqDTO.name">
                AND `name` LIKE #{reqDTO.name}
            </if>
        </where>
        ORDER BY download_num DESC
    </select>

    <select id="getWallpaperDetailsInfo" resultType="com.business.controller.mobile.wallpaper.vo.WallpaperDetailsInfoVO">
        SELECT a.*, b.name AS categoryName, c.id AS userId, c.user_name, c.user_img, COUNT(d.id) AS collectNum
        FROM wallpaper_info AS a
        LEFT JOIN category AS b ON a.category_id = b.id
        LEFT JOIN sys_user AS c ON c.id = a.create_id
        LEFT JOIN wallpaper_collect_record AS d ON d.wallpaper_id = a.id
        WHERE a.id = #{id}
    </select>

    <select id="getMyCollect" resultType="com.business.controller.mobile.wallpaper.vo.MyCollectRespDTO">
        SELECT b.*
        FROM wallpaper_collect_record AS a
        LEFT JOIN wallpaper_info AS b ON b.id = a.wallpaper_id
        WHERE a.user_id = #{userId}
        ORDER BY a.create_time DESC
    </select>
</mapper>